{% load static %}
<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'verb/js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'verb/js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'verb/js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'verb/js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar -->
<script src="{% static 'verb/js/jquery.stellar.min.js' %}"></script>
<!-- Main -->
<script src="{% static 'verb/js/main.js' %}"></script>